@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+WAL:wght@100..400&display=swap');

#jss{
    
    height:70px;
    width: 320px; 
 
}
nav{
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: -12%;
    font-weight: bold;
    border: 3px solid #00000076;
   

}
#h1{
    color: rgba(132, 89, 33, 0.661);
    font-size: 3.5vw;
    display: flex;
    position: relative;
    bottom: 60px;

    
}
h2{
    color: rgb(132, 89, 33);
    font-size: 41px;
    
    
    position: relative;
bottom: 117px;
left: 96px;


}

ul li{
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    flex-wrap: wrap; /* Para que los elementos se ajusten automáticamente */
    justify-content: space-between; /* Distribución espaciada entre los elementos */
     margin-left: 0px;
     margin-right:33.2px ;
     margin-bottom: 4px;
     margin-top: 4px;
    
    
             
    
   
      }

a{
    color: rgba(76, 66, 54, 0.813);
    text-decoration: none;
    display: flex;
}

a:hover{
color: rgb(35, 98, 98);
}
h4{
   
    position: relative;
    
    white-space: nowrap;
    
    font-size: 10px;
    bottom: 162px;
    font-family: "Playwrite BE WAL", cursive;
    font-style: italic;
   


}
 
body{

    background: linear-gradient(to right, rgb(251, 238, 212), rgb(163, 147, 96), rgba(213, 181, 87, 0.929));
    
}
#img1{

    position:relative;
    bottom: 252px;
    left: 210px;
    width: 4rem;
    max-width: 100%; height: auto;
    display: flex;
    
   
  
}

@media screen and (max-width:1000px){
    
    ul li{
        display: inline-block;
        padding: 3px;
        font-weight: bold;
        flex-wrap: wrap; /* Para que los elementos se ajusten automáticamente */
        justify-content: space-between; /* Distribución espaciada entre los elementos */
         margin-left: 1px;
         margin-right:300px ;
         margin-bottom: 46px;
         margin-top: 46px;
        
        
                 
        
       
          }
          #h1{
           
        font-size: 36px;
        bottom: 39px;
            
        }
        h2{
           
            font-size: 37px;
            bottom:  86px;
            left: 68px;
        
        }
        h4{
            right: 5px;
            bottom:122px;
            

        }

        #img1{
            bottom: 213px;
            right: 0px;
            left: 172px;
         }
}




@media screen and (max-width:950px){
    
   
    
#jss{
    background-color: rgba(251, 210, 97, 0.071);
    border-radius: 9px;
    height:100px;
    width: 350px; 
    margin-right: 10px; /* Ajusta el valor según tus necesidades */
     
  
}
    ul li{
        display: list-item;
        padding: 10px;
        font-weight: bold;
        flex-wrap: wrap; /* Para que los elementos se ajusten automáticamente */
        justify-content: space-between; /* Distribución espaciada entre los elementos */
        margin-left: 5px; 
        margin-right: 20px;
        

    
        
                 
        
       
          }
    
    a{
        color: rgba(242, 230, 219, 0.731);
        text-decoration: none;
        display: flex;
        
    }
    
    a:hover{
    color: rgb(35, 98, 98);
    }

    


        #h1{
            color: rgba(132, 89, 33, 0.661);
            font-size: 40px;
            display: flex;
            position: relative;
            left: 20px;
            top: -40px;
        }
        h2{
            color: rgb(132, 89, 33);
            font-size: 41px;
            position: relative;
        bottom: 95px;
        left: 97px;
        }
        h4{
            position: relative;
            bottom: 139px;
            left: 19px;
            white-space: nowrap;
        
            font-size: 10px;
            
            font-family: "Playwrite BE WAL", cursive;
            font-style: italic;
            display: flex;
        
        }

        #img1{

           
            bottom: 240px;
            left:  209px;
            width: 25%;
            
            max-height: 20rem;
            margin-right: 10px; /* Ajusta el valor según tus necesidades */
            box-sizing: border-box; /* Evita que el margen afecte el tamaño total del elemento */
            
          
        }


    }

   

